<div class="bg-sky-800 py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <a href="https://blueco.io/">
      <img class="h-8 inline" src="assets/blueco-logo.png" alt="Blueco logo" />
      <span class="sr-only">Blueco</span>
    </a>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-0 lg:pt-4">
        <div class="lg:max-w-lg">
          <div class="mx-auto mt-10 text-white">
            Blueco is a full-service Amazon agency that specializes in helping
            sustainable brands succeed on the world's largest online
            marketplace. We provide a range of services, including Amazon
            advertising, operations management, SEO and copywriting, and more.
            Our experienced team is dedicated to delivering results and helping
            our clients achieve their business goals on Amazon.
          </div>
        </div>
      </div>
      <div class="lg:pr-0 lg:pt-4">
        <div class="lg:max-w-lg">
          <div class="mx-auto mt-10 text-white">
            <div class="flex space-x-4 justify-end text-white">
              <a
                href="https://www.facebook.com/blueco.io"
                class="text-white rounded-md px-3 py-2 text-lg h-12 w-12 font-medium"
                ><img src="assets/square-facebook.svg" alt="Facebook icon" />
              </a>
              <a
                href="https://twitter.com/blueco_io"
                class="text-white rounded-md px-3 py-2 text-lg h-12 w-12 font-medium"
                ><img src="assets/square-twitter.svg" alt="Twitter icon" />
              </a>
              <a
                href="https://www.linkedin.com/company/blueco-io/"
                class="text-white rounded-md px-3 py-2 text-lg h-12 w-12 font-medium"
                ><img src="assets/linkedin.svg" alt="LinkedIn icon" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
