<div class="bg-sky-800 py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-white">
      Our Clients
    </h2>
    <div class="mx-auto mt-10 grid grid-cols-2 md:grid-cols-4 items-center gap-x-8 gap-y-10">
      <ng-container *ngFor="let client of clients">
        <div class="flex justify-center">
          <img
            src="assets/client-{{ client.id }}.png"
            alt="{{ client.name }}"
            width="200"
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>
