<div class="mx-auto max-w-7xl px-6 lg:px-8 pb-26 lg:pb-28">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
  >
    <div class="lg:pr-0 lg:pt-4">
      <div class="lg:max-w-lg">
        <h2 class="text-base font-semibold leading-7 text-amber-600">
          Your Brand Account Manager
        </h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Amazon made simple.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Our team specializes in establishing and scaling brands on Amazon. We
          are the only agency with direct access to Climate Pledge Friendly to
          fast track your certification.
        </p>
        <dl
          class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
        >
          <div>
            <dt class="inline font-semibold text-gray-900">
              Fulfilment Operations
            </dt>
            <dd class="inline">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </dd>
          </div>
          <div>
            <dt class="inline font-semibold text-gray-900">Marketing</dt>
            <dd class="inline">
              Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
              lorem cupidatat commodo.
            </dd>
          </div>
          <div>
            <dt class="inline font-semibold text-gray-900">
              Climate Pledge Friendly
            </dt>
            <dd class="inline">
              Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et
              magna sit morbi lobortis.
            </dd>
          </div>
          <div>
            <dt class="inline font-semibold text-gray-900">
              Listing and Optimization
            </dt>
            <dd class="inline">
              Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et
              magna sit morbi lobortis.
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <img
      src="assets/flow.png"
      alt="Flow diagram"
      class="w-[28rem] max-w-none"
    />
  </div>
</div>
