<div
  class="bg-[url('/assets/hero.png')] bg-cover bg-no-repeat bg-center bg-bottom"
>
  <div
    class="mx-auto py-32 sm:py-48 lg:py-56 px-6 sm:px-18 lg:px-36 backdrop-blur-sm bg-sky-800/70"
  >
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Fast-tracking sustainable brands for success on Amazon
      </h1>
      <p class="mt-6 text-lg leading-8 text-white">
        Unlock the full potential of your climate friendly brand on Amazon.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <app-cta text="Already on Amazon?"></app-cta>
      </div>
    </div>
  </div>
</div>
