<div class="px-6 lg:px-8 py-16 lg:py-18 bg-gray-100">
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Your Partners In Growth
      </h2>
      <p class="my-6 text-lg leading-8 text-gray-600">
        Quis tellus eget adipiscing convallis sit sit eget aliquet quis.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-x-2 gap-y-16 text-center md:grid-cols-4">
      <div class="mx-auto flex flex-col justify-center">
        <img src="assets/amazon-ads.png" alt="Amazon Ads" />
      </div>
      <div class="mx-auto flex flex-col justify-center">
        <img src="assets/amazon-cpf.png" alt="Climate Pledge Friendly" />
      </div>
      <div class="mx-auto flex flex-col justify-center">
        <img src="assets/amazon-fba.png" alt="Fulfillment by Amazon" />
      </div>
      <div class="mx-auto flex flex-col justify-center">
        <img src="assets/amazon-spn.png" alt="Amazon SPN" />
      </div>
    </div>
  </div>
</div>
